<h3>Brian Kidney</h3>

<img src="http://www.gravatar.com/avatar/6dd152ce3be33afc432f4e130e2e35bf?s=150" class="img-circle"/>

<p>Brian is Professional Engineer working in the area of Software
Engineering. Brian has over 10 years of experience working on projects
in diverse areas including communications, security, banking, 
and remote sensing.</p>

<h4>Contact</h4>

<p>
  <i class="fa fa-inbox fa-fw"></i> brian at briankidney dot ca<br/>
  <i class="fa fa-twitter-square fa-fw"></i> 
    <a href="http://twitter.com/bkidney">@bkidney</a><br/>
  <i class="fa fa-google-plus-square fa-fw"></i> 
    <a href="http://plus.google.com/+BrianKidney">+BrianKidney</a><br/>
  <i class="fa fa-flickr fa-fw"></i><a href="http://www.flickr.com/photos/bkidney">bkidney</a><br/>
  <i class="fa fa-instagram fa-fw"></i><a href="http://instagram.com/bjkidney">bkidney</a><br/>
  <i class="fa fa-github fa-fw"></i><a href="http://www.github.com/bkidney">bkidney</a></br/>
  <i class="fa fa-linkedin fa-fw"></i><a href="http://ca.linkedin.com/in/bkidney/">Brian Kidney</a><br/>
</p>
