<h3>Brian Kidney</h3>

<p>Brian is Professional Engineer working in the area of Software
Engineering. Brian has over 10 years of experience working on projects
in diverse areas including communications, security, banking, 
and remote sensing.</p>

<h4>Contact</h4>

<p>
  <i class="fa fa-envelope fa-fw"></i> brian at briankidney dot ca<br/>
  <i class="fa fa-twitter-square fa-fw"></i> 
    <a href="http://twitter.com/bkidney">@bkidney</a><br/>
  <i class="fa fa-google-plus-square fa-fw"></i> 
    <a href="http://plus.google.com/+BrianKidney">+BrianKidney</a><br/>
</p>

